{% extends 'Layout/main.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header bg-green-gradient">
                    <i class="{{ icon|default('ion ion-clipboard') }}"></i>

                    <h3 class="box-title">{{ title|default('')|trans }}</h3>

                    <div class="box-tools pull-right" id="gridtools">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="margin-bottom:10px">
                        <a class="btn btn-primary btn-solid" href="{{ path(createRoute) }}">{{ createLabel|trans }}</a>
                    </div>

                    <div id="{{ grid.id }}" style="width:99%"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.fancygrid.com/fancy.full.min.js"></script>
    <script type="text/javascript">

        {% block fancyGridController %}
        Fancy.defineController('cwdcontrol', {
            controls: [{
                event: 'update',
                handler: 'onUpdate'
            }],
            'onUpdate': function(grid, o) {
                $('a.deleterow')
                    .off('click', app.confirmDelete)
                    .on('click', app.confirmDelete);
            }
        });
        {% endblock %}

        {{ fancygrid(grid) }}
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://code.fancygrid.com/fancy.min.css" />
    <style>
        .fancy .btn-group .btn {
            padding: 0 5px;
        }

        .grid-action .fancy-grid-cell-inner {
            margin-top: 6px;
        }
    </style>
    {{ parent() }}
{% endblock %}
